<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-relative">
    <h1 class="title text-center">Mr Fixit</h1>
    <div class="hidden-xs">
      <h3 class="punchline text-center">Rénover devient un plaisir</h3>
    </div>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('cuisine.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('salon.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('sdb.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('chambre.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('terrasse.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('cuisine2.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>
