<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-relative">
    <h1 class="title text-center">Mr Fixit</h1>
    <div class="hidden-xs">
      <h3 class="punchline text-center">Rénover devient un plaisir</h3>
      <%= render 'search_bar' %>
    </div>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('cuisine.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('salon.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('sdb.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('chambre.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('terrasse.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('cuisine2.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>

<div class="rules-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="value-proposition text-center">
            <%= image_tag "paint-brush.png", class: "icon"%>
          <p class="icon">
            Choissiez les meilleurs professionels aux meilleurs prix pour rénover votre chez-vous
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="value-proposition text-center">
          <%= image_tag "search.png", class: "icon"%>
          <p class="icon">
            Rechercher les meilleures offres parmis tous les magasins de bricolage en France
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="value-proposition text-center">
          <%= image_tag "heart.png", class: "icon"%>
          <p class="icon">
            Trouver de l'inspiration, votre de coup coeur et enregistrer le sur votre tableau Pinterest
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-title">
  <h1 class="text-center brand-success">Nos coups de coeur:</h1>
</div>

<div class="card-wrapper">
  <%= render 'list_universes' %>
</div>

<%= render 'shared/footer' %>
